body {
    background-position: center;
    background-size: cover;
    text-align: center;
    background-image: url("http://images.genius.com/0416c42b50ca9f797ec1b4830acb540e.1000x1000x1.jpg")
}
#pic1 {
    position: relative;
    right: 100px;
    bottom: 100px;
}
#pic2 {
    position: relative;
    right: 100px;
}
img {
    position: absolute;
    bottom: 300px;
    right: 100px;
}